@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap');
body {
  background-image: url(images/jeremy-thomas-E0AHdsENmDg-unsplash.jpg);
  background-size: cover;
}
h1 {
  font-family: 'Quicksand', sans-serif;
  font-weight: medium;
  margin: 5px 0px 0px 5px;
  color: rgb(27, 61, 109);
  text-shadow: 0px 0px 1px rgb(0, 0, 0);
  font-size: 25px;
}
h2 {
  font-family: 'Quicksand', sans-serif;
  font-weight: medium;
  text-shadow: 0px 0px 1px rgb(255, 255, 255);
  margin: 5px 0px 0px 5px;
  color: rgb(205, 182, 200);
}
h3 {
  font-family: 'Quicksand', sans-serif;
  font-weight: light;
  text-shadow: 0px 0px 1px rgb(255, 255, 255);
  margin-left: 10px;
  color: rgb(205, 182, 200);
}
p {
  font-family: 'Quicksand', sans-serif;
  font-weight: light;
  text-shadow: 0px 0px 1px rgb(255, 255, 255);
  margin-left: 10px;
  color: rgb(205, 182, 200);
}
a {
  color: rgb(27, 61, 109);
}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: underline; }
a:active { text-decoration: underline; }
.linkcolour {
  color: rgb(138, 145, 199);
}
.main {
  background: rgba(1, 10, 51, .75);
  padding: 10px;
  margin: 10px;
  border: 1px solid rgb(138, 145, 199);
  border-radius: 30px;
}
.secondary {
  background: rgba(1, 10, 51, .75);
  padding: 10px;
  margin: 10px;
  border: 1px solid rgb(138, 145, 199);
  border-radius: 30px;
  text-align: center;
}
.content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.panel {
  width: 30%;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  background: rgba(1, 10, 51, .85);
  padding: 15px 20px 5px 20px;
  margin: 20px 0 40px 0;
  border: 1px solid rgb(138, 145, 199);
  border-radius: 30px;
}
.underline {
  border-bottom: 1px solid rgb(205, 182, 200);
}
.italic {
  font-style: italic;
}
.navbutton {
  border: 2px solid rgb(64, 91, 146);
  border-radius: 30px;
  text-align: center;
  padding: 5px 10px;
  width: 200px;
  margin-bottom: 10px;
  background: radial-gradient(rgba(205, 182, 200, 0.8), rgba(64, 91, 146, 0.8));
}
.nav-bar .navbutton:hover {
  background: rgba(138, 145, 199, 1);
}
.selbutton {
  border: 1px solid rgb(138, 145, 199);
  border-radius: 30px;
  text-align: center;
  padding: 5px 10px 5px 10px;
  width: 200px;
  margin-bottom: 10px;
  background: radial-gradient(rgba(64, 91, 146, 0.8), rgba(205, 182, 200, 0.8));
}
.footer {
  text-align: right;
  color: rgb(205, 182, 200);
  text-shadow: 0px 0px 1px rgb(64, 91, 146);
}
.footertext {
  color: rgb(205, 182, 200);
}
.photo {
  border-radius: 30px;
  opacity: 100%;
  max-width:400px;
  max-height:400px;
  width: auto;
  height: auto;
}
